<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title> Inicio clientes</title>
</head>
<body> 
    <div class="buttoms"><a href="Inicio.html" >
        <button>Home</button>
    </a>
    <a href="EstadoDeCuenta.html" >
        <button>Estado de cuenta</button>
    </a>
    <a href="Transferir.html" >
        <button>Transferir</button>
    </div>
    
    <section class="form-ingreso">
        <h4> Ingreso de clientes </h4>
        <form method="POST" action="/ingreso">
            <div>
                <label>Email</label>
                <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su Email">
            </div>
            <div>
                <label>Contraseña</label>
                <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña">
            </div>
            <input type="hidden" name="token" id="token">
            <input class="botons" type="submit" value="Ingresar">
        </form>
        
    </section>
    <p>¿Olvido su contraseña?<a href="#"> Recuperar contraseña</a></p>
        <p>No tengo cuenta <a href="Registro.html" > Registrarse</a></p>
</body>
</html>